body{
  background-color: rgb(71, 68, 68);
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1{
  font-size: 4rem;
  color: white;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: rgb(9, 239, 9);
}

.add-button:hover{
  background-color: rgb(6, 146, 6);
}

.delete-button{
  background-color: rgb(235, 46, 46);
}

.delete-button:hover{
  background-color: rgb(146, 11, 11);
}

.move-button{
  background-color: rgb(54, 54, 240);
}

.move-button:hover{
  background-color: rgb(15, 15, 179);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(149, 144, 144);
  border-radius: 5px;
  color: rgb(29, 25, 25);
}

ol{
  padding:0;
}

li{
  font-size: 2rem;
  font-weight:bold;
  padding:15px;
  background-color: rgb(215, 208, 208);
  margin-bottom: 10px;
  border: 3px solid rgb(154, 151, 151);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis:0%;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}